cvxpy==1.2.1
frozendict==2.3.4
kiwisolver==1.4.4
matplotlib==3.5.2
msdm==0.7
numpy==1.23.1
osqp==0.6.2.post5
pandas==1.4.3
pillow
scipy==1.8.1
seaborn==0.11.2
pfrl==0.3.0
gym==0.18.3
git+https://github.com/mila-iqia/atari-representation-learning.git