cloudpickle==1.6.0
cycler==0.11.0
dill==0.3.5.1
ecos==2.0.10
filelock==3.7.1
fonttools==4.34.4
frozendict==2.3.4
importlib-metadata==4.12.0
importlib-resources==5.9.0
julia==0.5.7
kiwisolver==1.4.4
matplotlib==3.5.2
msdm==0.7
multiprocess==0.70.13
numpy==1.23.1
osqp==0.6.2.post5
packaging==21.3
pandas==1.4.3
pathos==0.2.9
Pillow==8.2.0
pox==0.3.1
ppft==1.7.6.5
pyglet==1.5.15
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
qdldl==0.1.5.post2
scipy==1.8.1
scs==3.2.0
seaborn==0.11.2
six==1.16.0
tabulate==0.8.10
termcolor==1.1.0
typing_extensions==4.3.0
zipp==3.8.1
