array2gif==1.0.4
atari-py==0.2.9
atariari @ git+https://github.com/mila-iqia/atari-representation-learning.git@a06f52ca3bfafbd8a805254e10ea8f159251a0b4
certifi @ file:///croot/certifi_1671487769961/work/certifi
cloudpickle==1.6.0
cmake==3.26.3
cvxpy==1.2.1
cycler==0.11.0
ecos==2.0.12
Farama-Notifications==0.0.4
filelock==3.11.0
fonttools==4.39.3
frozendict==2.3.4
gym==0.18.3
gymnasium==0.28.1
importlib-metadata==6.4.1
jax-jumpy==1.0.0
Jinja2==3.1.2
julia==0.6.1
kiwisolver==1.4.4
lit==16.0.1
MarkupSafe==2.1.2
matplotlib==3.5.2
minigrid==2.2.1
mpmath==1.3.0
msdm==0.7
networkx==3.1
numpy==1.23.1
opencv-python==4.7.0.72
osqp==0.6.2.post5
packaging==23.1
pandas==1.4.3
pfrl==0.3.0
Pillow==8.2.0
pygame==2.3.0
pyglet==1.5.15
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
qdldl==0.1.7
scipy==1.8.1
scs==3.2.3
seaborn==0.11.2
six==1.16.0
sympy==1.11.1
termcolor==2.2.0
torch==2.0.0
torch-ac==1.4.0
tqdm==4.65.0
triton==2.0.0
typing_extensions==4.5.0
zipp==3.15.0
